<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
<style>
body {font-family: "Lato", sans-serif}
.mySlides {display: none}
</style>
    <title>Reviewer Login</title>
</head>
<body>
    
    
    <nav class="navbar navbar-expand-lg navbar-dark exx" style="background-color: rgb(24, 140, 194) ;">
        <a class="navbar-brand" href="/">THE REVIEWER</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="{{ url_for('read') }}">Read Reviews</a>
            
    
          </div>
        </div>
      </nav>


  <div class="w3-content" style="max-width:20000px;margin-top:46px" >
        <div class="w3-container w3-content w3-padding-64" style="max-width:700px" id="write">
            
            <div class="w3-col m10" >
                    <div><h2>{{ msg }}</h2></div>
                    <form  method="POST" action="/login">
                        <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
                        <div class="w3-half">
                            <input class="w3-input w3-border" type="text" placeholder="Name" required name="Name" />
                        </div>
                        <div class="w3-half">
                            <input class="w3-input w3-border" type="mail" placeholder="Email" required name="Email" />
                        </div>
                        </div>
                        <input class="w3-input w3-border" type="password" placeholder="Password" required name="Password" />
                        <button class="w3-button w3-black w3-section w3-right" type="submit">Login</button>
                    </form>
                
            </div>
        </div>

    </div>






  
</body>
</html>